
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("../../../assets/img/register-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
