@import "@/styles/_fonts.scss";

.wrapper {
}
.field {
    width: 687px;
    height: 627px;
    background: #d9d9d9;
}

.title {
    font-family: $fewText;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    color: #ffffff;
    mix-blend-mode: difference;
    margin-bottom: 44px;
}
