.wrapper {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
}
.image img {
    height: 300px;
    width: 300px;
}

.title {
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.15;
}
