@import "@/styles/_fonts.scss";

.wrapper {
}

.field {
    width: 687px;
    height: 627px;
    background: #383838;
}

.title {
    text-align: center;
    background: #d39315;
    font-family: $fewText;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 59px;
    color: #ffffff;
    mix-blend-mode: difference;
}

.news__wrapper {
    width: 650px;
    border-radius: 13px;
    border: 2px solid #000;
    margin: 15px 5px;
    padding: 15px 15px;
}
