.wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: url("/img/login-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
