@import url(https://fonts.googleapis.com/css?family=Kurale:regular);
@import url(https://fonts.googleapis.com/css?family=Abel:regular);
@import url(https://fonts.googleapis.com/css?family=Actor:regular);

$ff: "Kurale";
$fewText: "Abel";
$actor: "Actor";
